body {
    background-color: #2f2f2f;
}

.card {
    box-shadow: blue;
}

.buttonBag {
    margin: 0 auto;
}

.previousButton {
    float: left;
}

.nextButton {
    float: right;
}

.entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.choice {
    text-align: center;
    color: white !important;
    border: 5px solid white;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 50px;
    padding-top: 100px;
}

.navbar {
    color: white;
}

.dashboardWrapper {
    color: white;
}

.formWrapper {
    color: black;
}

.formCard {
    width: 250px;
    border-radius: 10px;
    margin: 0 auto;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}